<%--
    Document   : AdminTools
    Created on : Feb 15, 2017, 4:09:54 PM
    Author     : s515739
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@page import="labInspection.DatabaseConnection"%>
<%@page import="labInspection.DataCRUD"%>
<%@page import="labInspection.LabAudit"%>
<%@page import="java.util.List"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!DOCTYPE html>
<html>
    <head>
        <title>Lab Inspection Audit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="css/labinspection.css" rel="stylesheet" type="text/css"/>




    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: #ffffff; border: #258e12">
            <div class="container-fluid">
                <ul class ="nav navbar-nav">
                    <button type="button" class="btn btn-default navbar-btn btn-sm" onclick="goBack()" aria-label="Left Align">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>

                    <img src="css/NorthwestIcon.jpg" alt="" height="30"/>

                </ul>

                <%String fullName = (String) request.getAttribute("fullName");%>
                <span class ="navbar-text">Signed in as <% out.print(fullName);%></span>


                <form action="LogoutServlet" id="logoutForm" type="post">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </form>
            </div>
        </nav>

                <% String UserViewSwitch = (String) request.getAttribute("UserViewSwitch");%>

        <form action="UpdateLabInformation" method="post">
            <input hidden="hidden" name="fullName" value="<%=fullName%>"/>
            <input hidden="hidden" name="UserViewSwitch" value="<%=UserViewSwitch%>"/>
            <div style=" margin-left: auto; margin-right: auto;">

                <%
                    request.getSession().setAttribute("Labs", DataCRUD.getLabInformation());

                %>

                <div class="form" style=" margin-left: auto; margin-right: auto;">

                    <div align="center" class="container"  style="border:10px solid #ffffff; border-radius: 15px; background: #ffffff">

                        <table align='center' class="tablesorter" cellspacing=2 cellpadding=5 id="lab_table" border=1>
                            <thead>
                                <tr>
                                    <th>Building</th>
                                    <th>Room Number</th>
                                    <th>Discipline</th>
                                    <th>Responsible Individual</th>
                                    <th>Room Assignment</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <c:forEach items= "${Labs}" var="lab">

                                    <tr id="${lab.labInfoId}row">

                                        <td width="16.66%"><input type="text" id="building${lab.labInfoId}" value="${lab.building}"></td>
                                        <td width="16.66%" class="roomNumber"><input type="text" id="roomNumber${lab.labInfoId}" value="${lab.roomNumber}"></td>
                                        <td width="16.66%"><input type="text" id="discipline${lab.labInfoId}" value="${lab.discipline}"></td>
                                        <td width="16.66%"><input type="text" id="responsibleIndividual${lab.labInfoId}" value="${lab.responsibleIndividual}"></td>
                                        <td width="16.66%"><input type="text" id="roomAssignment${lab.labInfoId}" value="${lab.roomAssignment}"></td>
                                        <td width="16.66%" class="buttons"><button type="button" class="btn btn-primary" onclick="updateRowLab(${lab.labInfoId})">Update</button>
                                            <button type="button" class="btn btn-primary" onclick="deleteRowLab(${lab.labInfoId})">Delete</button>
                                        </td>
                                        <td  hidden="hidden" id="${lab.labInfoId}">${lab.labInfoId}</td>

                                    </tr>

                                </c:forEach>

                            </tbody>
                        </table>


                        <table  class="tablesorter" id="addLab" cellspacing=2 cellpadding=5 border=1 style=" overflow-x: scroll">
                            <thead></thead>
                            <tbody style="overflow:scroll">
                                <tr>

                                    <td><input placeholder="Building" type="text" id="buildingName" ></td>
                                    <td><input placeholder="Room Number" type="text" id="roomNumberNew"></td>
                                    <td><input placeholder="Discipline" type="text"  id="disciplineName"></td>
                                    <td><input placeholder="Responsible Individual" type="text" id="responsiblePerson" ></td>
                                    <td><input placeholder="Room Assignment" type="text" id="roomAssignedNew" ></td>
                                    <td><button type="button" class="btn btn-primary" onclick="addRowLab()">Add</button></td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>


                <br><br>

                <%                request.getSession().setAttribute("QC", DataCRUD.getQuestionswithCategories());

                %>
                <div class="form" style=" margin-left: auto; margin-right: auto;">

                    <div align="center" class="container"  style="border:10px solid #ffffff; border-radius: 15px; background: #ffffff">

                        <table class="tablesorter" id="question_table" align='center'  border=1>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Question</th>
                                    <th class="remove sorter-false"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <c:forEach items= "${QC}" var="qc">

                                    <tr id="${qc.questionId}row">
                                        <td hidden="hidden">${qc.questionId}</td>
                                        <td><input  type="text" name="categoryType" id="category${qc.questionId}" value="${qc.categoriesType}"></td>
                                        <td width="50%"><input  type="text" size="75" name="question" id="question${qc.questionId}" value="${qc.question}"></td>
                                        <td width="15.4%"><button type="button" class="btn btn-primary" onclick="updateRowQuestion(${qc.questionId})">Update</button>
                                            <button type="button" class="btn btn-primary" onclick="deleteRowQuestion(${qc.questionId})">Delete</button>
                                        </td>
                                    </tr>

                                </c:forEach>
                            </tbody>
                        </table>

                        <table class="tablesorter" id="addQuestion" border=1 style="width: 100%; overflow-x: scroll">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="width:32.4%">
                                        <input placeholder="Category" id="catInput" name="catName" type="text" list="catSelector"/>
                                        <datalist id="catSelector"></datalist>
                                        <button type="button" class="btn btn-primary" onclick="deleteCategory()" id="removeCategory">Delete Category</button>
                                    </td>
                                    <td><input placeholder="Question" type="text" id="newQuestion" class="addQuestionInput" ></td>
                                    <td><button  type="button" class="btn btn-primary" onclick="addRowQuestion()">Add</button></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <script src="js/jquery-latest.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.tablesorter_1.js" type="text/javascript"></script>
    <script src="js/jquery.tablesorter.widgets.js" type="text/javascript"></script>
    <script src="js/widget-scroller.js" type="text/javascript"></script>
    <script src="js/AdminTools.js" type="text/javascript"></script>

</body>
</html>
